.container {
  margin-top: 1em;
}

.image{
  height: 5rem;
  max-width: 100%;
  margin: 0 auto;
}

table {
  counter-reset: no -1;
  text-align: center;
  margin-top: 25px;
  table-layout:fixed;
}

table tr {
  counter-increment: row-num;
  height: 90px;
  th {
    height: 100%;
  }
}

td {
  white-space:nowrap;
}

table tr td:first-child::before {
    content: counter(row-num) ". ";
}

.picker {
  max-width: 96px;
  text-align: center;
}

.row-number {
  font-weight: bold;
  font-size: 1.2rem;
}

#checkout {
  text-align: center;
}

.btn {
  margin: 0 auto;
  padding: 10px;
  display: flex;
}
