<div class="container">
  <div class="card">
    <div class="card-body">
      <h5 class="header">Your shopping card:</h5>
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col" name="image"></th>
          <th scope="col" name="name" >Name</th>
          <th scope="col" name="price">Price</th>
          <th scope="col" name="quantity">Quantity</th>
          <th scope="col" name="remove">Remove from card</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of items">
          <td class="align-middle row-number"></td>
          <td class="align-middle">
            <img class="image" [src]="item[0].imagesUrl[0]">
          </td>
          <td class="align-middle">
            <ngb-highlight [result]="item[0].name"></ngb-highlight>
          </td>
          <td class="align-middle">
            <ngb-highlight [result]="item[0].price"></ngb-highlight>
          </td>
          <td class="picker">
              <ng-number-picker (valueChange)="onValueChange($event, item)" buttonsOrientation="h" [(value)]="item[1]"></ng-number-picker>
          </td>
          <td class="align-middle">
            <button type="button" (click)="removeItem(item)" class="btn btn-danger">Remove</button>
          </td>
        </tr>
        </tbody>
      </table>
      <h5 class="header">Total: $ {{ price }}</h5>
      <button class="btn btn-success" href="#" id="cart-link">Buy now</button>
    </div>

  </div>
</div>
