@import url('https://fonts.googleapis.com/css?family=Muli:400,700&display=swap');

$mat-card-color: #24b8f3;

body {
  margin: 0;
  font-family: 'Muli', 'sans-serif';
  font-size: 20px;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/1/1a/Abstract-background-white-12.jpg');
}

.container-centered {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0em auto;
  justify-content: center;
}

/* ANIMATIONS */

/* CSS3 Fade-in-down Animation */
.fadeInDown {
  animation-name: fadeInDown;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

/* CSS3 Fade-in Animation */
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  animation:fadeIn ease-in 1;
  animation-fill-mode:forwards;
  animation-duration:1s;
}

.fadeIn.first {
  animation-delay: 0.4s;
}

.fadeIn.second {
  animation-delay: 0.6s;
}

.fadeIn.third {
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  animation-delay: 1s;
}

/* CSS3 Underline Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after{
  width: 100%;
}

.shadow-border {
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
}

.carousel {
  max-width: 100%;
  margin: 0 auto;
}

.carousel-inner {
  height: 90%;
  max-width: 90%;
  margin: 0 auto;
}

.carousel-control-next-icon,
.carousel-control-prev-icon,
.carousel-indicators {
  filter: invert(1);
}

.carousel-control-next,
.carousel-control-prev {
  cursor: pointer;
}

.carousel-item {
  height: 100%;
}

.card-title {
  font-weight: bold;
}

.max-width{
  max-width: 900px !important;
}

.center {
  text-align: center;
  margin-top: 10px;
}

.mat-select-value-text {
  color: lightslategrey !important;
}

.mat-select-arrow {
  color: lightslategrey;
}

.mat-form-field.mat-focused .mat-form-field-ripple  {
  background-color: lightslategrey !important;
}

.mat-form-field.mat-focused .mat-select-arrow {
  color: lightslategrey !important;
}

.dropdown-option {
  margin: 10px;
  color: black;
}

.select.mat-selected {
  color: white !important;
}

.selectBox {
  margin-top: 1.25em;
}
