<div class="about-container fadeIn">
  Our store specializes in every field of photography.
  <br>
  We sell products selected from the best and the highest quality products in the world.
  <br>
  <br>
  Feel free to visit our showroom at the following address:
  <br>
  PhotoPlus
  <br>
  ul. Photoplus 2
  <br>
  11-111 Photoplus
  <br>
  Poland
  <br>
  Working hours:
  <br>
  <b>Monday:</b> 10:00 - 19:00
  <br>
  <b>Tuesday:</b> 10:00 - 19:00
  <br>
  <b> Wednesday:</b> 10:00 - 19:00
  <br>
  <b>Thursday:</b> 10:00 - 19:00
  <br>
  <b>Friday:</b> 10:00 - 19:00
  <br>
  <b>Saturday:</b> 10:00 - 13:00
  <br>
  <div class="container-centered fadeInDown first">
    <h1>
      <a class="underlineHover" href="https://github.com/latusikl/PhotoPlus">Find us on github</a>
    </h1>
  </div>
  <br>
  <img class="image" src="https://freesvg.org/img/1574266235unreal%20camera%20colour.png">
</div>
