<div class="container">
    <form [formGroup]="sectionForm" (ngSubmit)="onSubmit()">
        Section title:
        <input class="form-control" type="text" formControlName="name" style="width: 100%;" [ngClass]="{ 'is-invalid': submitted && f.name.errors }"/>
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">Title is required</div>
          </div>
        Section description:
        <textarea class="form-control" formControlName="description" style="width: 100%;" ></textarea>
        <div class="center">
          <input type="submit" value="Add section" class="btn btn-primary add">
        </div>
    </form>
</div>
