<div class="container max-width">
    <mat-card class="mt-1 section-bg-color">
    <div class="row">
        <div class="col">
            <a [routerLink]="['/forum/section', section.code]">
                <div class="app-section-content">
                    Section name: {{section.name}}<br>
                    Section description: {{section.description}}<br>
                </div>
            </a>
        </div>
        <div class="col-3 text-align-left" *ngIf="auth.isModerator && shouldModeratorButtonsBeRenedered">
            <a [routerLink]="['/forum/edit/section', section.code]">
                <button class="btn btn-primary button-edit"  >Edit</button>
            </a>
            <a [routerLink]="['/forum/remove/section', section.code]">
                <button class="btn btn-danger">Remove</button>
            </a>
        </div>
    </div>
    </mat-card>
</div>
