@import '../../../../../styles.scss';

.section-bg-color, .section-bg-color a{
    background-color: $mat-card-color;
    color: white;
}

.section-bg-color:hover {
    background-color: darken($mat-card-color, 10%);
}

.app-section-content{
    margin: auto;
}

.button-edit{
    margin-right: 10px;
}
