.flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0em auto;
  justify-content: center;
}

.dropdown-option {
  margin: 10px;
  color: black;
}

.select.mat-selected {
  color: white !important;
}

.selectBox {
  margin-top: 1.25em;
}
