

.product-search{
  max-height: 300px;
  height: 300px;
  overflow-y: scroll;
}

.product{
  padding: 3px;
  background-color: lighten(#424242, 10%);
  margin: 5px;
  max-width: 150px;
  max-height: 150px;
  width: 150px;
  height: 150px;
  cursor: pointer;
}

.product-photo{
  max-width: 130px;
  max-height: 75px;
}

.selected-product img {
  max-width: 150px;
  max-height: 150px;
}