.welcome
{
  font-min-size: 60px;
  color: #24b8f3;
  margin-top: 20px;
  margin-bottom: 20px;
}


.form-label
{
  font-min-size:50px;
  color: #39ace7;
  font-weight: bold;
  display: block;
  float: left;
}
.form-control{
  margin-bottom: 30px;

}

.btn-success{
   margin-right: 20px;
   float: left;
 }

.btn-danger{
  float: right;
}