
ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

img {
  max-width: 100%;
  max-height: 100%;
  padding: 1em 0;
  object-fit: scale-down;
}

.card {
  width: 18rem;
  min-height: 30rem;
  margin-bottom: 1em;
}

.card-title {
  font-weight: bold;
  font-size: 1.2rem;
}

.container {
  margin-top: 1em;
}

::ng-deep .carousel-control-next-icon,
::ng-deep .carousel-control-prev-icon {
   filter: invert(1);
}

::ng-deep .carousel-item {
  display: block !important;
  position: absolute;
 // transform: translateX(100%);
  opacity: 0;
  transition:all  2s;
}

::ng-deep .carousel-item.active {
  position: relative;
  //transform: translateX(0);
  opacity: 1;
}

::ng-deep .carousel-indicators{
   filter: invert(1);
}
