
.app-topic{
    border: 5px solid red;
    height: max-content;
    width: 100%;
}

.user-profile{
    background-color: lighten($color: #424242, $amount: 10%);
    text-align: center;

}

.button-edit{
    margin-right: 10px;
}
