
@import '../../../../../../../styles.scss';

.topic-bg-color, .topic-bg-color a{
    background-color: $mat-card-color;
    color: white;
}

.topic-bg-color:hover{
    background-color: darken($mat-card-color,10%);
}

.app-topic{
    border: 5px solid red;
    height: max-content;
    width: 100%;
}

.user-profile{
    background-color: darken($color: $mat-card-color, $amount: 10%);
    text-align: center;
}
