<div class="container mt-1">
    <mat-card>

    <div class="row">
        <div class="col-2 no-float">
            <mat-card class="user-profile">
                User: {{(topicOwner | async).name || ''}}
            </mat-card>
        </div>
        <div class="col">
            <a [routerLink]="['/forum/topic', topic.code]">
                <div>
                    Date : {{topic.date}}<br>
                    Topic name : {{topic.name}}
                </div>
            </a>
        </div>
        <div class="col-3">
            <div *ngIf="(canModify | async)" style="float:right">
                <a [routerLink]="['/forum/edit/topic', topic.code]">
                    <button class="btn btn-primary button-edit">Edit</button>
                </a>
                <a [routerLink]="['/forum/remove/topic', topic.code]">
                    <button class="btn btn-danger">Remove</button>
                </a>
            </div>
        </div>
    </div>
</mat-card>

</div>