
@import '../../../../../../../styles.scss';

.topic-bg-color{
    background-color: $mat-card-color;
}

.app-topic{
    border: 5px solid red;
    height: max-content;
    width: 100%;
}

.user-profile{
    background-color: darken($color: $mat-card-color, $amount: 10%);
    text-align: center;

}

.button-edit{
    margin-right: 10px;
}
