<div class="container fadeInDown">
  <div class="card shadow-border">
    <div class="card-body">
      <table class="table table-striped">
        <thead class="fadeIn first">
          <tr>
            <th scope="col" class="d-none d-lg-table-cell">#</th>
            <th scope="col" name="image"></th>
            <th scope="col" name="name">Name</th>
            <th scope="col" name="price" class="d-none d-lg-table-cell">Price</th>
            <th scope="col" name="quantity">Quantity</th>
          </tr>
        </thead>
        <tbody class="fadeIn second">
          <tr *ngFor="let item of items">
            <td class="align-middle row-number d-none d-lg-table-cell"></td>
            <td class="align-middle">
              <div *ngIf="item?.product?.imagesUrl">
                <img class="image" [src]="item?.product?.imagesUrl[0]">
              </div>
            </td>
            <td class="align-middle">
              <a id="product-name">{{ item?.product?.name }}</a>
            </td>
            <td class="align-middle d-none d-lg-table-cell">
              <b id="price">${{ item?.product?.price }}</b>

            </td>
            <td class="align-middle">{{item?.quantity}}</td>
          </tr>
        </tbody>
      </table>
      <h1 id="checkout" class="fadeIn third">Total: <b>${{ price }}</b></h1>
    </div>

  </div>
  <br>
  <div class="card shadow-border">
    <p class="text">Select payment method:</p>
    <br>
    <div class="checkbox">
      <div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" (change)="FieldsChange($event)" value="cash_on_delivery"
          id="cash" name="paymant" mdbInput>
        <label class="custom-control-label" for="cash">Cash</label>
      </div>
      <div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" (change)="FieldsChange($event)" value="card" id="card"
          name="paymant" mdbInput>
        <label class="custom-control-label" for="card">Card</label>
      </div>
      <div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" (change)="FieldsChange($event)" value="paypal" id="paypal"
          name="paymant" mdbInput>
        <label class="custom-control-label" for="paypal">Paypal</label>
      </div>
    </div>
    <p class="text"><br></p>
    <div class="display" id="display">
      <div class="form-group">
        <select class="btn btn-secondary dropdown-toggle form-control" (change)="selectOption($event.target.value)">
          <option *ngFor="let address of addreses" [value]="address.key">{{address.street}}
            &nbsp; {{address.number}} &nbsp; {{address.zipCode}} &nbsp; {{address.city}}</option>
        </select>
      </div>
      <br>
      <div class="button">
        <button (click)="buy()" class="btn btn-success" style="width: 50%;" href="#" id="cart-link">Buy</button>
      </div>
      <p class="text"><br></p>
    </div>
    <mat-expansion-panel class="addressPanel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Add address
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-description class="mat">
        <form id="addressForm" [formGroup]="addressForm">
          <div class="address" id="address">
            <label>Street:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <input formControlName="street" class="form-control fadeIn third" type="text" name="input" id="street"
                [ngClass]="{ 'is-invalid':submitted && f.street.errors }">
              <div *ngIf="submitted && f.street.errors" class="invalid-feedback">
                <div *ngIf="f.street.errors.required">Street is required.</div>
                <div *ngIf="f.street.errors.minlength">Street must contain at least 4 characters.</div>
              </div>
            </label> <br>
            <label>Number:&nbsp;
              <input formControlName="number" class="form-control fadeIn third" type="text" name="input" id="number"
                [ngClass]="{ 'is-invalid':submitted && f.number.errors }">
              <div *ngIf="submitted && f.number.errors" class="invalid-feedback">
                <div *ngIf="f.number.errors.required">Number is required.</div>
              </div>
            </label> <br>

            <label>Zip code:
              <input formControlName="zipCode" class="form-control fadeIn third" type="text" name="input" id="zipCode"
                [ngClass]="{ 'is-invalid':submitted && f.zipCode.errors }">
              <div *ngIf="submitted && f.zipCode.errors" class="invalid-feedback">
                <div *ngIf="f.zipCode.errors.required">Zip code is required.</div>
                <div *ngIf="f.zipCode.errors.pattern">Only numbers are allowed.</div>
              </div>
            </label> <br>

            <label>City:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <input formControlName="city" class="form-control fadeIn third" type="text" name="input" id="city"
                [ngClass]="{ 'is-invalid':submitted && f.city.errors }">
              <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                <div *ngIf="f.city.errors.required">City is required.</div>
              </div>
            </label> <br>

            <label>Country:&nbsp;&nbsp;
              <input formControlName="country" class="form-control fadeIn third" type="text" name="input" id="country"
                [ngClass]="{ 'is-invalid':submitted && f.country.errors }" placeholder="PL">
              <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                <div *ngIf="f.country.errors.required">Country is required.</div>
              </div>
            </label><br>
            <div class="buttonAddr">
              <button (click)="addresBuy()" class="btn btn-success" href="#" id="cart-link">Add address and buy</button>
            </div>
          </div>
        </form>
      </mat-panel-description>
    </mat-expansion-panel>
    <p class="text"><br></p>
  </div>
</div>
