.container {
    padding: 20px;
  }

.formOrder {
    display: flex;
    justify-content: center;
}

.text{
  padding: 20px;
  font-weight: bold;
  font-size: 1.2rem;
  color: #0d0d0d;
  text-align: center;
  text-decoration: none;
}

.card {
    border-radius: 10px 10px 10px 10px;
}

input[type=text] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  transition: all 0.5s ease-in-out;
  border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input[type=text]:placeholder  input[type=password]:placeholder {
  color: #cccccc;
}

  .image {
    max-height: 5rem;
    max-width: 100%;
    margin: 0 auto;
  }

  table {
    counter-reset: no -1;
    text-align: center;
    margin-top: 25px;
    table-layout:fixed;
  }

  table tr {
    counter-increment: row-num;
    height: 90px;
    th {
      height: 100%;
    }
  }

  table tr td:first-child::before {
      content: counter(row-num) ". ";
  }

  th {
    white-space:nowrap;
  }

  #price {
    font-size: 18px;
  }

  #checkout {
    text-align: center;
  }

  #product-name {
    font-size: 18px;
  }

  .btn {
    margin: 0 auto;
    padding: 10px;
    display: flex;
  }
*:focus {
    outline: none;
}
