<div class="container fadeInDown">
  <div class="card shadow-border">
    <div class="card-body">
      <table class="table table-striped">
        <thead class="fadeIn first">
          <tr>
            <th scope="col" class="d-none d-lg-table-cell">#</th>
            <th scope="col" name="image"></th>
            <th scope="col" name="name">Name</th>
            <th scope="col" name="price" class="d-none d-lg-table-cell">Price</th>
            <th scope="col" name="quantity">Quantity</th>
          </tr>
        </thead>
        <tbody class="fadeIn second">
          <tr *ngFor="let item of items">
            <td class="align-middle row-number d-none d-lg-table-cell"></td>
            <td class="align-middle">
              <img class="image" [src]="item[0].imagesUrl[0]">
            </td>
            <td class="align-middle">
              <a id="product-name">{{ item[0].name }}</a>
            </td>
            <td class="align-middle d-none d-lg-table-cell">
              <b id="price">${{ item[0].price }}</b>

            </td>
            <td class="align-middle">{{item[1]}}</td>
          </tr>
        </tbody>
      </table>
      <h1 id="checkout" class="fadeIn third">Total: <b>${{ price }}</b></h1>
    </div>

  </div>
  <br>
  <div class="card shadow-border">
    <p class="text">Select payment method:</p>
    <br>
    <div class="checkbox">
      <div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" (change)="FieldsChange($event)" value="cash_on_delivery"
          id="cash" name="paymant" mdbInput>
        <label class="custom-control-label" for="cash">Cash</label>
      </div>
      <div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" (change)="FieldsChange($event)" value="card" id="card"
          name="paymant" mdbInput>
        <label class="custom-control-label" for="card">Card</label>
      </div>
      <div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" (change)="FieldsChange($event)" value="paypal" id="paypal"
          name="paymant" mdbInput>
        <label class="custom-control-label" for="paypal">Paypal</label>
      </div>
    </div>
    <p class="text"><br></p>
    <p class="error" id="error">Check payment method!</p>
    <select class="buy fadeIn third" (change)="selectOption($event.target.value)">
      <option *ngFor="let address of addreses" [value]="address.key">{{address.street}}
        &nbsp; {{address.number}} &nbsp; {{address.zipCode}} &nbsp; {{address.city}}</option>
    </select>
    <button (click)="buy()" class="buyBtn btn-success" href="#" id="cart-link">Buy</button>
    <p class="text"><br></p>
    <mat-expansion-panel class="addressPanel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Add address
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-description>
        <div class="address" id="address">
          <label>Street:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input class="form-control fadeIn third" type="text" name="input" id="street">
          </label>
          <br>
          <label>Number:&nbsp;
            <input class="form-control fadeIn third" type="text" name="input" id="number">
          </label>
          <br>
          <label>Zip code:
            <input class="form-control fadeIn third" type="text" name="input" id="zipCode">
          </label>
          <br>
          <label>City:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input class="form-control fadeIn third" type="text" name="input" id="city">
          </label>
          <br>
          <label>Country:&nbsp;&nbsp;
            <input class="form-control fadeIn third" type="text" name="input" id="country" placeholder="PL">
          </label>
          <br>

          <button (click)="addresBuy()" class="btn btn-success" href="#" id="cart-link">Add address and buy</button>
        </div>

      </mat-panel-description>
    </mat-expansion-panel>
    <p class="text"><br></p>
  </div>
</div>