.container {
  padding: 20px;
}

.mat {
  justify-content: center;
}

.buy {
  width: 50%;
  margin: 0 auto;
}

.display {
  width: 53%;
  margin: 0 auto;
}

.button-container {
  text-align: center;
}

.address {
  justify-content: center;
  margin: 0 auto;
}

.form-group {
  margin: 0 auto;
}

.addressPanel {
  width: 53%;
  margin: 0 auto;
}

.text {
  padding: 20px;
  font-weight: bold;
  font-size: 1.2rem;
  color: #0d0d0d;
  text-align: center;
  text-decoration: none;
  margin: 10px 0 0 0;
}

.card {
  border-radius: 10px 10px 10px 10px;
}

table {
  counter-reset: no -1;
  text-align: center;
  margin-top: 25px;
  table-layout: fixed;
}

table tr {
  counter-increment: row-num;
  height: 90px;
  th {
    height: 100%;
  }
}

table tr td:first-child::before {
  content: counter(row-num) ". ";
}

.image {
  max-height: 5rem;
  max-width: 100%;
  margin: 0 auto;
}

th {
  white-space: nowrap;
}

#price {
  font-size: 18px;
}

#checkout {
  text-align: center;
}

#product-name {
  font-size: 18px;
}

.checkbox {
  margin: 0 auto;
}

mat-panel-description {
  margin: 0;
}
