<div class="container fadeInDown">
  <div class="card shadow-border">
    <div class="card-body">
      <table class="table table-striped">
        <thead class="fadeIn first">
          <tr>
            <th scope="col" class="d-none d-lg-table-cell">#</th>
            <th scope="col" name="image"></th>
            <th scope="col" name="name">Name</th>
            <th scope="col" name="price" class="d-none d-lg-table-cell">Price</th>
            <th scope="col" name="quantity">Quantity</th>
          </tr>
        </thead>
        <tbody class="fadeIn second">
          <tr *ngFor="let item of items">
            <td class="align-middle row-number d-none d-lg-table-cell"></td>
            <td class="align-middle">
              <img class="image" *ngIf="(item | async)?.product?.imagesUrl"
                src="{{(item | async)?.product?.imagesUrl[0]}}">
            </td>
            <td class="align-middle">
              <a id="product-name">{{ (item | async)?.product?.name }}</a>
            </td>
            <td class="align-middle d-none d-lg-table-cell">
              <b id="price">{{ (item | async)?.product?.price | currency: '$' }}</b>

            </td>
            <td class="align-middle">{{(item | async)?.quantity}}</td>
          </tr>
        </tbody>
      </table>
      <h1 id="checkout" class="fadeIn third">Total: <b>{{ price | currency: '$' }}</b></h1>
    </div>

  </div>
  <br>
  <div class="card shadow-border">
    <p class="text">Select payment method:</p>
    <div class="checkbox">
      <form [formGroup]="paymentMethodForm">
        <label>
          <input class="custom-control-input" id="card" formControlName="paymentMethod" type="radio" value="CARD">
          <label class="custom-control-label" for="card">Card</label>
        </label>
        <br>
        <label>
          <input class="custom-control-input" id="cash" formControlName="paymentMethod" type="radio"
            value="CASH_ON_DELIVERY">
          <label class="custom-control-label" for="cash">Cash on delivery</label>
        </label>
        <br>
        <label>
          <input class="custom-control-input" id="paypal" formControlName="paymentMethod" type="radio" value="PAYPAL">
          <label class="custom-control-label" for="paypal">Paypal</label>
        </label>
        <br>
        <div *ngIf="paymentMethodSubmitted && paymentMethodForm.invalid">
          <p>Please select either value</p>
        </div>
      </form>
    </div>
    <br>
    <div class="display" [hidden]="!(addresses?.length > 0)">
      <div class="form-group">
        <select class="dropdown-toggle form-control" (change)="selectOption($event.target.value)">
          <option *ngFor="let ad of addresses" [value]="ad.code">{{ad.street}}
            &nbsp; {{ad.number}} &nbsp; {{ad.zipCode}} &nbsp; {{ad.city}} &nbsp; {{ad.country}}</option>
        </select>
      </div>
      <br>
      <div class="button-container">
        <button (click)="buy()" class="btn btn-success" style="width: 50%;" href="#" id="cart-link">Buy</button>
      </div>
      <p class="text"><br></p>
    </div>
    <mat-expansion-panel class="addressPanel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Add address
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-description class="mat">
        <form id="addressForm" (ngSubmit)="addressBuy()" [formGroup]="addressForm">
          <div class="address" id="address">
            <div>Street:
              <input formControlName="street" class="form-control fadeIn third" type="text" name="input" id="street"
                [ngClass]="{ 'is-invalid':submitted && f.street.errors }">
              <div *ngIf="submitted && f.street.errors" class="invalid-feedback">
                <div *ngIf="f.street.errors.required">Street is required.</div>
                <div *ngIf="f.street.errors.minlength">Street must contain at least 4 characters.</div>
              </div>
            </div> <br>
            <div>Number:
              <input formControlName="number" class="form-control fadeIn third" type="text" name="input" id="number"
                [ngClass]="{ 'is-invalid':submitted && f.number.errors }">
              <div *ngIf="submitted && f.number.errors" class="invalid-feedback">
                <div *ngIf="f.number.errors.required">Number is required.</div>
              </div>
            </div> <br>

            <div>Zip code:
              <input formControlName="zipCode" class="form-control fadeIn third" type="text" name="input" id="zipCode"
                [ngClass]="{ 'is-invalid':submitted && f.zipCode.errors }">
              <div *ngIf="submitted && f.zipCode.errors" class="invalid-feedback">
                <div *ngIf="f.zipCode.errors.required">Zip code is required.</div>
                <div *ngIf="f.zipCode.errors.pattern">Zip code is invalid.</div>
              </div>
            </div> <br>

            <div>City:
              <input formControlName="city" class="form-control fadeIn third" type="text" name="input" id="city"
                [ngClass]="{ 'is-invalid':submitted && f.city.errors }">
              <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                <div *ngIf="f.city.errors.required">City is required.</div>
              </div>
            </div> <br>

            <div>Country code:
              <input formControlName="country" class="form-control fadeIn third" type="text" name="input" id="country"
                [ngClass]="{ 'is-invalid':submitted && f.country.errors }">
              <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                <div *ngIf="f.country.errors.required">Country is required.</div>
              </div>
            </div><br>
            <div class="button-container">
              <button type="submit" class="btn btn-success" href="#" id="cart-link">Add address and buy</button>
            </div>
          </div>
        </form>
      </mat-panel-description>
    </mat-expansion-panel>
    <p class="text"><br></p>
  </div>
</div>
