$primary: rgb(36, 184, 243);

.container {
  max-width:100%;
  padding: 0px;
}

.container-header {
  display: flex;
  min-height: 4rem;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 0 0;
}

header {
  background: $primary;
  font-size: 18px;
  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    color: white;
  }

  a.logo {
    padding-right: 1rem;
    font-weight: bold;
    font-size: 25px;
  }

  .navbar-light .navbar-nav .nav-link {
    color: #FFFFFF;
  }

  a.dropdown-login-item {
    color: black;
  }
}

#dropdown-toggle-hidden::after {
  display: none;
}

#navbarHeader-list {
  li {
    min-width: 6rem;
  }
}

#navbarUnderHeader-list {
  li {
    min-width: 10rem;
  }
}

.centered-list {
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 0;

  li {
    display: block;
    padding: 1.3rem;

    a {
      text-align: center;
    }
    .nav-link {
      display: block;
      padding: 0 0;
    }
  }
}

.clickable-list {
  li {
    &:hover{
      cursor:pointer;
    }
  }
}

.darkenDiv:hover {
  background: darken($primary, 10%);
}

.darkenDiv.show {
  background: darken($primary, 10%);
}

.lightenDiv:hover {
  background: lighten($primary, 20%);
}

.material-icons {
  font-size: xx-large;
  line-height: inherit;
}

.navbar.center .navbar-inner {
    text-align: center;
}

.navbar.center .navbar-inner .nav {
    display:inline-block;
    float: none;
}

.searchbar {
  margin-left: auto;
  //display:block;
  display: inline-flex;
  height: 60px;
  background-color: #353b48;
  border-radius: 30px;
  padding: 10px;
}

.search_input {
  color: white;
  padding: 0 0px;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color:transparent;
  line-height: 40px;
  transition: width 0.4s linear, padding 0.4s linear, background 0.4s linear;
}

.searchbar:hover > .search_input,
.search_input:focus {
  padding: 0 10px;
  width: 190px;
  caret-color:red;
  transition: width 0.4s linear, padding 0.4s linear;
}

#search_icon {
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-decoration:none;
  cursor: pointer;

  background: white;
  color: #e74c3c;
  transition: color 0.4s linear, background 0.4s linear;
}

#search_icon.disabled {
  background: none;
  color:white;
  pointer-events: none;
  cursor: default;
}

@media (min-width: 992px) {
  .dropdown-menu {
    right: auto;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.dropdown-menu {
  animation-name: fadeIn;
  animation-duration: 0.6s;
}
