<header class="sticky-top">
  <nav class="container-header navbar navbar-expand-lg navbar-light">
    <a href="#" routerLink="/" class="logo">PhotoPlus</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
      aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarHeader">

      <div class="searchbar">
        <input (keyup.enter)="navigateToSearch()" id="typeahead-focus" type="text" class="form-control search_input" placeholder="Search..."
          [(ngModel)]="searchedText" />
        <a [class.disabled]="canSearch() ? null : true" [routerLink]="['/search', searchedText]" id="search_icon">
          <i [class.disabled]="canSearch() ? null : true" class="fa fa-search"></i>
        </a>
      </div>

      <ul class="centered-list navbar-nav clickable-list" id="navbarHeader-list">
        <li class="darkenDiv" href="#" routerLink="/" data-toggle="collapse" data-target="#navbarHeader.show"><a
            class="nav-link">Home</a></li>
        <div *ngIf="!auth.getLoggedUser()">
          <li class="darkenDiv" href="#" routerLink="/registration" data-toggle="collapse"
            data-target="#navbarHeader.show"><a class="nav-link">Sign Up</a></li>
        </div>
        <div
          *ngIf="auth.isLoggedIn() && auth.getLoggedUser() && auth.getLoggedUser().login; then showPersonLogin else showLoginLink">
        </div>
        <ng-template #showPersonLogin>
          <li class="darkenDiv" id="dropdown-toggle-hidden" ngbDropdown ngbDropdownToggle>
            <a class="nav-link" id="UserDropdown" role="button">
              {{auth.getLoggedUser().login}} <i class="fa fa-angle-down"></i>
            </a>
            <div ngbDropdownMenu aria-labelledby="UserDropdown" class="dropdown-menu">

              <a class="dropdown-login-item" ngbDropdownItem routerLink="/user/details">Edit profile</a>
              
              <a class="dropdown-login-item" ngbDropdownItem routerLink="/user/orders">Show orders</a>
              
              <div class="dropdown-divider"></div>
              <a class="dropdown-login-item" ngbDropdownItem href="#" (click)="logout()">Logout</a>
            </div>
          </li>
        </ng-template>
        <ng-template #showLoginLink>
          <li class="darkenDiv" href="#" routerLink="/login" data-toggle="collapse" data-target="#navbarHeader.show"><a
              class="nav-link">Log In</a></li>
        </ng-template>

        <li class="darkenDiv" href="#" routerLink="/cart" data-toggle="collapse" data-target="#navbarHeader.show">
          <a class="material-icons nav-link">
            shopping_cart
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<nav class="navbar-expand-lg bg-light navbar-light container-centered">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarUnderHeader"
    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse container-centered" id="navbarUnderHeader">
    <ul class="navbar-nav centered-list clickable-list" id="navbarUnderHeader-list">
      <li class="nav-item active lightenDiv" href="#" routerLink="/about">
        <a class="nav-link">About</a>
      </li>
      <li class="nav-item active lightenDiv" href="#" routerLink="/category">
        <a class="nav-link">Categories</a>
      </li>
      <li class="nav-item active lightenDiv" href="#" routerLink="/products" data-toggle="collapse"
        data-target="#navbarHeader.show">
        <a class="nav-link">Products</a>
      </li>
      <li class="nav-item active lightenDiv" href="#" routerLink="/forum">
        <a class="nav-link">Forum</a>
      </li>
      <li *ngIf="auth.isModerator" class="nav-item active lightenDiv" href="#" routerLink="/manage">
        <a class="nav-link">Manage</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet> </router-outlet>
</div>
