$primary: rgb(36, 184, 243);

.container.header {
  display: flex;
  height: 4rem;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

header {
  background: $primary;
  //padding: 1em 0;
  font-size: 18px;
  a {
    color: white;
    text-decoration: none;
  }

  a.logo {
    font-weight: bold;
    font-size: 25px;
  }

  nav {
   // float: right;

    ul {
        list-style-type: none;
        margin: 0;
        display: flex;

        li a {
            padding: 1em;

            &:hover {
                background: darken($primary, 10%);
            }
          }
        }
     }
  }
