<header class="sticky-top">
  <nav class="container-header navbar navbar-expand-lg navbar-light">
    <a href="#" routerLink="/" class="logo">PhotoPlus</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarHeader">
      <div class="searchbar">
        <input class="search_input" type="text" name="" placeholder="Search...">
        <a class="search_icon"><i class="fa fa-search"></i></a>
      </div>
      <ul class="centered-list navbar-nav clickable-list" id="navbarHeader-list">
        <li class="darkenDiv" href="#" routerLink="/" data-toggle="collapse" data-target="#navbarHeader.show"><a class="nav-link">Home</a></li>
        <li *ngIf="!isLoggedIn" class="darkenDiv" href="#" routerLink="/registration" data-toggle="collapse" data-target="#navbarHeader.show"><a class="nav-link">Sign Up</a></li>
        <div *ngIf="loggedPersonLogin!= null && loggedPersonLogin.length>0; then showPersonLogin else showLoginLink">
        </div>
        <ng-template #showPersonLogin>
          <li class="darkenDiv" id="dropdown-toggle-hidden" ngbDropdown ngbDropdownToggle>
            <a class="nav-link" id="UserDropdown" role="button">
              {{loggedPersonLogin}} <i class="fa fa-angle-down"></i>
            </a>
            <div ngbDropdownMenu aria-labelledby="UserDropdown" class="dropdown-menu">
              <a class="dropdown-login-item" ngbDropdownItem href="#" (click)="$event.preventDefault()">Edit profile</a>
              <a class="dropdown-login-item" ngbDropdownItem href="#" (click)="$event.preventDefault()">Show orders</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-login-item" ngbDropdownItem href="#" (click)="logout()">Logout</a>
            </div>
          </li>
          <li class="darkenDiv" href="#" routerLink="/forum"><a class="nav-link">Forum</a></li>
        </ng-template>
        <ng-template #showLoginLink>
          <li class="darkenDiv" href="#" routerLink="/login" data-toggle="collapse" data-target="#navbarHeader.show"><a class="nav-link">Log In</a></li>
        </ng-template>
        <li class="darkenDiv" href="#" routerLink="/cart" data-toggle="collapse" data-target="#navbarHeader.show">
          <a class="material-icons nav-link">
            shopping_cart
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<nav class="navbar-expand-lg bg-light navbar-light container-centered">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarUnderHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse container-centered" id="navbarUnderHeader">
    <ul class="navbar-nav centered-list clickable-list" id="navbarUnderHeader-list">
      <li class="nav-item active lightenDiv" href="#">
        <a class="nav-link">About</a>
      </li>
      <li class="nav-item active lightenDiv" href="#">
        <a class="nav-link">Features</a>
      </li>
      <li class="nav-item active lightenDiv" href="#">
        <a class="nav-link">Pricing</a>
      </li>
      <li class="nav-item active lightenDiv" href="#" routerLink="/category" >
        <a class="nav-link">Categories</a>
      </li>
      <li class="nav-item active lightenDiv" href="#">
        <a class="nav-link">Contact</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet> </router-outlet>
</div>
