<div class="container">
  <mat-expansion-panel
    *ngFor="let orderStatus of orderStatuses"
    class="mt-2"
    [class]="toCssClass(orderStatus)"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="col-10 p-0 mt-1">
          {{ humanReadable(orderStatus) }}
        </div>
        <div class="col-2">
          <mat-card class="p-1 page-count">
            Pages:&nbsp;{{ (orderStatusAmountPages[orderStatus] |async) }}
          </mat-card>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-panel-description>
      <div class="container">
        <div class="row justify-content-center">
          <app-page-select [amountOfPages]="orderStatusAmountPages[orderStatus]" (onPageSelect)="changePage(orderStatus, $event)">
          </app-page-select><br>
        </div>
        <div class="row">
          <mat-card
            class="col-3 order"
            *ngFor="let order of currentStatusesOrders[orderStatus] | async"
            (click)="goToSingleOrder(order.code)"
          >
            Code: {{ order.code }}<br>
            Price: {{ order.price/100 }}<br> <!-- TODO check if correct -->
            Date: {{ order.date }}<br>
          </mat-card>
          
          </div>
        </div>
    </mat-panel-description>
  </mat-expansion-panel>
</div>
