
.pending_bg_color{
    background-color: #8ddf00;
}

.paid_bg_color{
    background-color: #00b80e;
}
.ready_to_ship_bg_color{
    background-color: #00ffb0;
}
.shipped_bg_color{
    background-color: #008fff;
}
.delivered_bg_color{
    background-color: #061d54;
}

.page-count{
    background-color: white;
    color: black;
    overflow-y: auto;
}

.order{
    cursor: pointer;
    overflow: auto;
}

/* override mat expansion panel behaviour */
// Suchar320 can i use ng-deep it here ?
::ng-deep .mat-expansion-panel-body{
    padding: 1px 28px 10px 10px !important;
}