<div class="container">
  <mat-expansion-panel
    *ngFor="let orderStatus of orderStatuses"
    class="mt-2"
    [class]="toCssClass(orderStatus)"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="col-10 p-0 mt-1">
          {{ humanReadable(orderStatus) }}
        </div>
        <div class="col-2">
          <mat-card class="p-1 page-count">
            Pages:&nbsp;{{ orderStatusPageInfo[orderStatus].pageAmount }}
          </mat-card>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-panel-description>
      <mat-card
        class="col-3 m-1 order"
        *ngFor="let order of currentStatusesOrders[orderStatus] | async"
        (click)="goToSingleOrder(order.code)"
      >
        {{ order.paymentMethod }}
      </mat-card>
    </mat-panel-description>
  </mat-expansion-panel>
</div>
