

.pending_bg_color{
    background-color: #8ddf00;
}

.paid_bg_color{
    background-color: #00b80e;
}
.ready_to_ship_bg_color{
    background-color: #00ffb0;
}
.shipped_bg_color{
    background-color: #008fff;
}
.delivered_bg_color{
    background-color: #061d54;
}