<div class="container">
  <div class="form-group mt-3">
    <span
      >Search by login:<input
        #searchInput
        class="w-100"
        type="text"
    /></span><br>
  </div>
  <div class="row">
    <div class="col-4 mt-1" *ngFor="let user of filteredUsers">
      <div class="form-group">
        <mat-card>
          <button (click)="sendUpdateRole(user.value.code)" class="btn btn-primary mb-1">
            Update role</button
          ><br />
          Code: {{ (user | async)?.code }}<br />
          Login: {{ (user | async)?.login }}<br />
          Name: {{ (user | async)?.name }}<br />
          Surname: {{ (user | async)?.surname }}<br />
          <div class="form-group">
            Role:
            <select (change)="changeRoleInModel(user.value.code,$event.target.value)">
              <option
                *ngFor="let role of roleClass"

                [selected]="user.value.role === role"
              >
                {{ role }}
              </option>
            </select>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
  <app-page-select (onPageSelect)="changePage($event)" [amountOfPages]="amountOfPages">
  </app-page-select>
</div>
