<div [hidden]="!selectedProduct.value" class="container">
  <div class="text-center">
    You are modifying product:&nbsp;{{(selectedProduct|async)?.name}}
  </div>  
  <div class="row">
      <div class="col-3 text-center mt-2">
        <mat-card
          (click)="goBack()"
          class="w-100 item-card item-card-container data-toggle"
          title="Go back to other products"

        >
          <svg width="100%" height="100%">
            <text font-size="150px" fill="white" x="0%" y="90%">←</text>
          </svg>
        </mat-card>
      </div>
      <div class="col-3 text-center mt-2">
        <mat-card
          (click)="addPhoto()"
          class="w-100 item-card item-card-container data-toggle"
          title="Add photo of this product"
        >
          <svg width="100%" height="100%">
            <text font-size="200px" fill="white" x="5%" y="105%">
              +
            </text>
          </svg>
        </mat-card>
      </div>
      <div class="col-3 text-center mt-2">
        <mat-card
          (click)="deleteProduct(selectedProduct.value.code)"
          class="w-100 item-card item-card-container data-toggle"
          title="Delete this product"
        >
          <svg width="100%" height="100%">
            <text font-size="200px" fill="white" x="10%" y="97%">
              x
            </text>
          </svg>
        </mat-card>
      </div>
      <div
        #photoDisplay
        *ngFor="let imageUrl of (selectedProduct | async)?.imagesUrl; let i = index"
        class="col-3 text-center mt-2"
      >
        <mat-card class="item-card">
          <a target="_blank" href="imageDisplay/{{selectedProduct.value.imageCodes[i]}}">
            <img src="{{ imageUrl }}" class="item-card-photo" /><br />
          </a>
        </mat-card>
        <button class="btn btn-danger" (click)="deletePhoto(selectedProduct.value.imageCodes[i])">Delete</button>
      </div>
    </div>
  </div>