
.item-card{
    background-color: lighten($color: #424242, $amount: 10%);
    cursor: pointer;
    max-height: 150px;
    height: 150px;
    overflow: hidden;
  }

.item-card-photo{
    height: 75px;
    object-fit: fill;
    width: 100%;
}

.btn {
  margin-top: 10px;
}

