<div class="container post-border">
    <div class="row ">
        <div class="col-2 user-info-box">
            User: {{(postOwner|async) && (postOwner | async).name ||  '' }}
        </div>
        <div class="col-8 post-content">
            <div class="d-inline-block align-top"  >
                Says:
            </div>
            <div *ngIf="!duringModification" class="d-inline-block">
                {{(post |async) && (post | async).content || ''}}
            </div>
            <div *ngIf="duringModification" class="d-inline-block">
                <textarea #postEdit value="{{(post | async).content}}"></textarea>
            </div>
        </div>
        <div *ngIf="canModify" class="col-2">
            <div *ngIf="!duringModification" class="d-inline-block">
                <button class="btn btn-primary button-edit" (click)="editPost()">Edit</button>
            </div>
            <div *ngIf="duringModification" class="d-inline-block">
                <button class="btn btn-success button-edit" (click)="savePost()">Save</button>
            </div>
            
            <button class="btn btn-danger" (click)="removePost()">Remove</button>
        </div>
    </div>
</div>