.carouselProduct{
  width:80%;

}

.name {
    font-weight: bold;
    font-size: 2rem;
    margin-top: 1%; 
    margin-left: 5%;
  }

  .category{
    margin-left: 5%;
  }

  .description{
    width: 40%;
    font-size: 1rem;
    margin-top: 10%;
  }

  .column1 {
    float: left;
    width: 40%
  }
  .column2 {
    float: left;
    width: 40%
  }
  .column3 {
    float: left;
    width: 20%
  }

  
  .noCarouselImageProduct{
    max-width: 100%;
    max-height: 25rem;
    padding: 1em 0;
   margin-left: 20%;
  }
  
  .carouselImageProduct {
    max-width: 100%;
    max-height: 25rem;
    padding: 1em 0;
    margin-left: 7%;
  }
  
  ::ng-deep .carouselProduct {
    height: 30rem;
    max-width: 100%;
    margin: 0 auto;
  }
  
  ::ng-deep .carouselProduct-inner {
    height: 90%;
    max-width: 90%;
    margin: 0 auto;
  }
  
  ::ng-deep .carouselProduct-control-next-icon,
  ::ng-deep .carouselProduct-control-prev-icon,
  ::ng-deep .carouselProduct-indicators {
    filter: invert(1); 
  }
  
  ::ng-deep .carouselProduct-control-next,
  ::ng-deep .carouselProduct-control-prev {
    cursor: pointer;
    
  }
  
  ::ng-deep .carouselProduct-item {
    display: block !important;
    height: 100%;
    opacity: 0;
    transition:all  2s;
  }
  
  ::ng-deep .carouselProduct-item.active {
    opacity: 1;
  }

  
  .price1 {
  color: #2070ff;
  font-size: 22px;
}

.buttons{
  margin-top: 20%;
}

