<div class="flex-container fadeInDown">
  <div class="card shadow-border">
    <div class="card-body fadeIn first">
      <div class="row">
        <div class="column1 fadeIn second">
          <ngb-carousel id="product-carousel" wrap="true" [interval]="false"
            *ngIf="(product | async)?.imagesUrl?.length > 1; else noCarousel" #carousel>
            <ng-template ngbSlide *ngFor="let image of (product | async)?.imagesUrl; let i = index;">
              <div>
                <img routerLink="/imageDisplay/{{product.value.imageCodes[i]}}" class="carouselImage" src="{{ image }}" />
              </div>
            </ng-template>
          </ngb-carousel>
          <ng-template #noCarousel>
            <div *ngIf="(product | async)?.imagesUrl">
              <img routerLink="/imageDisplay/{{product.value.imageCodes[0]}}" class="noCarouselImage" src="{{ (product | async)?.imagesUrl[0] }}" />
            </div>
          </ng-template>
        </div>
        <div class="column2 fadeIn third">
          <div>
            <div *ngIf="!isEditing; else editingProductDetails;">
              <p class="card-title product-card-title">
                {{ (product | async)?.name }}
              </p>
              <p class="category text-muted">{{ (product | async)?.category?.name }}</p>
              <p class="description">{{ (product | async)?.description }}</p>
            </div>
            <ng-template #editingProductDetails>
              <textarea #productName class="card-title dynamic-textarea product-card-title product-card-title-edit"
                value="{{ (product | async)?.name }}"></textarea>
              <p class="category text-muted">{{ (product | async)?.category?.name }}</p>
              <div class="form-group">
                <label for="sel1">Select category:</label>
                <select #productCategory [(ngModel)]="selectedCategoryCode" class="form-control">
                  <option value="{{cat.code}}" *ngFor="let cat of categories">{{ cat.name }}</option>
                </select>
              </div>
              <textarea #productDescription class="description dynamic-textarea"
                value="{{ (product | async)?.description }}"></textarea>
            </ng-template>

            <div *ngIf="canEdit()">
              <p class="description">Store quantity: {{ (product | async)?.storeQuantity }}</p>
            </div>

            <div class="links" *ngIf="(product | async)?.dataLinks">
              <div *ngFor="let dataLink of (product | async)?.dataLinks | keyvalue">
                <a href="{{ dataLink.value }}" class="description">{{ dataLink.key }}</a>
              </div>
            </div>
          </div>
        </div>
        <div class="column3 fadeIn fourth">
          <div *ngIf="!isEditing; else editingPrice;">
            <p id="product-price">{{ (product | async)?.price | currency: '$' }}</p>
            <div *ngIf="(product | async)?.storeQuantity > 0; else notAvailable">
              <button (click)="addToCart(product.value)" class="btn btn-success" href="#">
                Add to cart
              </button>
              <br />
              <br />
              <button (click)="buy(product.value)" class="btn btn-success" href="#" id="buy-link">
                Buy now
              </button>
            </div>
            <ng-template #notAvailable>
              <div>
                <p class="card-title">Out of stock</p>
              </div>
            </ng-template>
          </div>
          <ng-template #editingPrice>
            <input #productPrice type="number" min="0.01" class="price-textarea" id="product-price" step="any"
              value="{{ (product | async)?.price }}">
            <p class="product-avgprice">Av. purchase: {{ (avgPrice | async) | currency: '$' }}</p>
            </ng-template>
          <div *ngIf="canEdit()">
            <br />
            <div *ngIf="!isEditing">
              <button class="btn btn-warning" href="#" (click)="startEditing()">
                Edit
              </button>
            </div>
            <div *ngIf="isEditing">
              <button class="btn btn-success" href="#" (click)="patch()">
                Save
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isEditing" class="flex-container fadeInDown">
  <div class="card shadow-border">
    <div class="card-body fadeIn first">
      <label class="editing-label">Add new link</label>
      <form [formGroup]="linksForm" (ngSubmit)="onLinksSubmit()">
        <label for="name">Name:</label>
        <div class="row ">
          <input formControlName="name" id="name" class="form-control w-50" type="text"
            [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">
              Name is required.
            </div>
          </div>
        </div>
        <span>Link:</span>
        <div class="row">
          <input formControlName="link" class="form-control w-50" type="text"
            [ngClass]="{ 'is-invalid': submitted && f.link.errors }" />
          <div *ngIf="submitted && f.link.errors" class="invalid-feedback">
            <div *ngIf="f.link.errors.required">
              Link is required.
            </div>
            <div *ngIf="f.link.errors.pattern">
              Link is invalid.
            </div>
          </div>
          <div class="row w-100">
            <button type="submit" class="btn btn-primary margin-button">
              Submit new link
            </button>
          </div>
        </div>
      </form>
      <div *ngIf="mapNotEmpty()">
        <label class="editing-label">Delete links</label>
        <div *ngFor="let dataLink of (product | async)?.dataLinks | keyvalue">
          <div class="link-container">
            <a>{{ dataLink.key }}: </a>
            <a class="link-to-delete" href="{{ dataLink.value }}"> {{ dataLink.value }} </a>
            <button class="btn btn-danger" href="#" (click)="deleteLink(dataLink.key)">
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- //! RATINGI START -->
<div *ngIf="!auth.isModerator">
  <div class="stars">
    <div class="rate">
      <input class="all-stars" (change)="FieldsChange($event)" type="radio" id="star5" name="rate" value="5" />
      <label  for="star5" title="5 stars"></label>
      <input class="all-stars" (change)="FieldsChange($event)" type="radio" id="star4" name="rate" value="4" />
      <label for="star4" title="4 stars"></label>
      <input class="all-stars" (change)="FieldsChange($event)" type="radio" id="star3" name="rate" value="3" />
      <label for="star3" title="3 stars"></label>
      <input class="all-stars" (change)="FieldsChange($event)" type="radio" id="star2" name="rate" value="2" />
      <label for="star2" title="2 stars"></label>
      <input class="all-stars" (change)="FieldsChange($event)" type="radio" id="star1" name="rate" value="1" />
      <label for="star1" title="1 star"></label>
    </div>
  </div>
  <div class="area">
    <textarea #rateContent type="string" maxlength="255" id="area" rows="5" cols="60" value=""></textarea>
  </div>
  <div class="areaBtn mb-2">
    <button (click)="rate()" class="ratebtn btn btn-success" href="#" id="buy-link">Rate</button>
  </div>
</div>
<div *ngIf="ratings?.length > 0">
  <app-page-select (onPageSelect)="changePage($event)" [amountOfPages]="amountOfPages">
  </app-page-select>
  <mat-form-field class="selectBox">
    <mat-label class="text-muted">Sorting option</mat-label>
    <mat-select class="dropdown-option" [(value)]="sort" (selectionChange)="onSortingChange()">
      <mat-option class="select" value="dateAsc">Date ↑</mat-option>
      <mat-option class="select" value="dateDesc">Date ↓</mat-option>
      <mat-option class="select" value="rateAsc">Rate ↑</mat-option>
      <mat-option class="select" value="rateDesc">Rate ↓</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-card class="container rate-bg-color">
    <mat-card class="single-rate p-1" *ngFor="let rate of ratings">
      <div class="d-flex">
        <mat-card class="user-profile">
          <!-- Could make user name breakable -->
          {{(rate | async)?.userLogin || '' }}
        </mat-card>
        <div class="user-rate">
            Rate:&nbsp;{{(rate | async)?.rate}}&nbsp;/&nbsp;5
        </div>
      </div>
      <div class="user-rate-content m-1">
        {{(rate | async)?.content}}
      </div>
    </mat-card>
  </mat-card>
  <br>
</div>
