.carousel1{
  width:30%;
  margin-left: 5%;
  float: left;
}

.name {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin-top: 1%; 
  }
  .description{
    position: absolute;
    margin-top:3%;
    margin-left: 38%;
    margin-right: 38%;
    font-size: 1rem;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    padding: 1em 0;
  }
  
  .noCarouselImage1{
    position: absolute;

    max-width: 100%;
    max-height: 25rem;
    padding: 1em 0;
    float: left;
  }
  
  .carouselImage1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 100%;
    max-height: 25rem;
    padding: 1em 0;
    float: left;
  }
  
  ::ng-deep .carousel1 {
    height: 30rem;
    max-width: 100%;
    margin: 0 auto;
  }
  
  ::ng-deep .carousel1-inner {
    height: 90%;
    max-width: 90%;
    margin: 0 auto;
  }
  
  ::ng-deep .carousel1-control-next-icon,
  ::ng-deep .carousel1-control-prev-icon,
  ::ng-deep .carousel1-indicators {
    filter: invert(1);
  }
  
  ::ng-deep .carousel1-control-next,
  ::ng-deep .carousel1-control-prev {
    cursor: pointer;
  }
  
  ::ng-deep .carousel1-item {
    display: block !important;
    position: absolute;
    height: 100%;
    transform: translateX(100%);
    opacity: 0;
    transition:all  2s;
  }
  
  ::ng-deep .carousel1-item.active {
    position: relative;
    transform: translateX(0);
    opacity: 1;
  }


  
  #cart-link {
    float:right;
    bottom: 0%;
    margin-right: 14%;
  }
  
  #buy-link {
    float:right;
    bottom: 0%;
    margin-right: 0.5%;
  }

  .price1 {
  
  position: absolute;
  margin-top: -2%;
  margin-left: 78%;
  color: #2070ff;
  font-size: 22px;
}