.flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0em auto;
  justify-content: center;
}

.card {
  min-height: 20rem;
  margin: 20px 1em;
  border-radius: 10px 10px 10px 10px;
  width: 80%;
  text-align: center;
}

img {
  max-width: 100%;
  max-height: 100%;
  padding: 1em 0;
}

#product-carousel {
  height: 18rem;
}

.noCarouselImage {
  max-width: 100%;
  margin: 0 auto;
}

.carouselImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  max-width: 100%;
  max-height: 100%;
  padding: 1em 0;
}

.product-card-title {
  font-size: 2rem;
  line-height: 2rem;
  padding-top: 1em;
}

.product-card-title-edit {
  padding-top: 0;
}

.row {
  justify-content: space-around;
  flex-wrap: wrap;
}

.column1 {
  width: 20rem;
}

.column2 {
  max-width: 30rem;
  width: 90%;
}

.column3 {
  width: 15rem;
  padding: 1em;
}

#product-price {
  color: #2070ff;
  font-size: 26px;
  padding: 1em;
}

.links {
  font-size: 0.9rem;
  text-align: left;
}

.dynamic-textarea {
  width: 100%;
  height: 100%;
  min-height: 100px;
  box-sizing: border-box;
}

.price-textarea {
  width: 100%;
  max-height: 50px;
  box-sizing: border-box;
}

.links-form-control {
  margin: 10px;
  max-width: 35%;
}

.editing-label {
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 10px;
}

.link-to-delete {
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 5px;
}

.margin-button {
  margin: 10px;
}

.link-container {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.description {
  text-align: justify;
}

.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}
.stars{

  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0em auto;
  justify-content: center;
}

.ratebtn{
  display: flex;
  flex-wrap: wrap;
  margin-left: 41.2%;
  justify-content: center;
}

textarea {
  resize: none;
}

.user-profile{
  background-color: darken($color: $mat-card-color, $amount: 10%);
  text-align: center;
}


.dynamic-textarea{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin-bottom: 5px;
}

.post-content {
text-align: justify;
}
.post-bg-color{
  background-color: $mat-card-color;
}
