<div class="row">
  <div class="column1">
    <ngb-carousel class="carouselProduct" wrap="true"  [interval]="false" *ngIf="product.imagesUrl.length > 1; else noCarousel" #carousel>
      <ng-template ngbSlide *ngFor="let image of product.imagesUrl">
        <div>
          <img class="carouselImageProduct" src="{{image}}">
        </div>
      </ng-template>
    </ngb-carousel>
    <ng-template #noCarousel  >        
        <img class="noCarouselImageProduct" src="{{product.imagesUrl[0]}}">   
    </ng-template>
  </div>
  <div class="column2">
  <div>
   <p class="name" >{{product.name}}</p>
   <p class="category text-muted"> {{ product.category }} </p>
   <p class="description">{{product.description}}</p>  
 </div>
</div> 
 <div class="column3">
   <div class="buttons">
  <p class="price1">${{ product.price }}</p> 
  <button (click)="addToCart(product)" class="btn btn-success" href="#" id="cart-link">Add to cart</button>
  <br>
  <br>
  <button class="btn btn-success" href="#" id="buy-link">Buy now</button>
</div>
</div>
  </div>

 

   
    
    
          
    
    