<div class="container col-4">
    <h1>Login Form</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="login">Login</label>
            <input formControlName="login" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.login.errors }">
            <div *ngIf="submitted && f.login.errors" class="invalid-feedback">
              <div *ngIf="f.login.errors.required">Login is required</div>
              <div *ngIf="f.login.errors.minlength">Login must be at least 5 characters</div>
            </div>
        </div>
        <div class="form-group">
          <label for="pass">Password</label>
          <input formControlName="password" type="password" class="form-control" id="pass" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
          </div>
        </div>
        <button type="submit" class="btn btn-success btn-block">Login</button>
    </form>
</div>
