
.main-div {
  height: 100%;
  min-height: 500px;

  mat-card {
    padding: 0px;
  }
}

.login-form {
  padding:25px;
}

.icon-display {
  transform: scale(1.4);
}

.form-button {
  margin-top: 10px;
}



