  <div class="main-div" fxLayout="row" fxLayoutAlign="center center">
    <mat-card fxFlex="40">
      <mat-toolbar class="toolbar" color="primary"> Hello! </mat-toolbar>
      <form class="login-form" fxLayoutAlign="stretch" fxLayout="column" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <mat-label >Login</mat-label>
          <input matInput formControlName="login" [ngClass]="{ 'is-invalid': submitted && f.login.errors }">
          <mat-icon matSuffix> perm_identity </mat-icon>
          <mat-error *ngIf="f.login.errors.required">Login is required.</mat-error>
          <mat-error *ngIf="f.login.errors.minlength">Login must be at least 5 characters</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon class="icon-display"> {{hide ? 'visibility_off' : 'visibility'}} </mat-icon>
          </button>
          <mat-error *ngIf="f.password.errors.required">Password is required.</mat-error>
          <mat-error *ngIf="f.password.errors.minlength">Password must be at least 5 characters</mat-error>
        </mat-form-field>

        <button class="button" mat-raised-button type="submit">Login</button>
      </form>
    </mat-card>
  </div>
